body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.asteriskField {
    display: none;
}

a {
    color: #999999;
}

a:hover {
    color: #17a2b8;
    text-decoration: none;
}

.edit .pencil {
    color: #999999;
}

.edit .pencil:hover {
    color: #17a2b8;
}

.save {
    font-weight: bold;
}

.list {
    color: #333333;
}